body
{
    margin:0;
    padding:0;
    background-color:#46244C;
    background-size:cover ;
    background-position: center;
    font-family:sans-serif;
    margin:30px;
}
th
{
    font-family: Times New Roman;
        padding: 10px;
        background-color:black;
        color:white;
}

p{
    color:white;
}
td{
   padding: 30px;
   background-color: #712B75;
   color:white;
    text-align: center;

}
h2
{
    font-family: Times New Roman;
   color:white;
}

h1
{
    color:white;
}
h3
{
    color:white;
}
tr:hover td{
    background-color: #0F2F83;
}