body
{
    margin:0;
    padding:0;
    background-color:#16213E;
    background-size:cover ;
    background-position: center;
    font-family:sans-serif;
    margin:30px;
}
.cabecera
{
    font-family: Times New Roman;
        padding: 1cm;
        background-color:black;
        color:white;
}
.cabecera2
{
    font-family: Times New Roman;
    background-color:black;
    color:white;
}

td{
   padding: 30px;
   background-color: #256D85;
   color:white;
    text-align: center;

}
h2
{
    font-family: Times New Roman;
   color:white;
}
a{
    color:whitesmoke;
}
tr:hover td{
    background-color: #0F2F83;
}